@use '_fonts' as *;
@use '_sizes' as *;
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$shadow: 0 0 3px 4px rgb(214, 187, 187);
//setting style to nav_bar
h1,
p {
  font-family: $font-title;
  line-height: 1.6rem;
}
h3 {
  font-family: $font-paragraph;
}
nav {
  background-color: rgb(214, 89, 120);
  padding-block: 0.8rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px gray;
  & ul {
    list-style: none;
    font-weight: 400;
    font-family: $font-title;
    font-size: $font-bg;
  }
  & a {
    text-decoration: none;
    color: white;
    transition: color 400ms linear;
  }
  .nav_bar ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
    padding-inline-start: 100px;
  }
  & a:hover {
    color: white;
  }
  & li {
    transition: scale 400ms linear;
  }
  & li:hover {
    scale: 1.2;
  }
}
.change_theme_dark {
  .btn {
    translate: 25px;
    background-color: rgb(51, 36, 36);
  }
}
// this si the end of nav_bar
//beginning of the description
.description {
  display: grid;
  grid-template: 100px 100px 1fr 100px 100px / 4rem 20rem 1fr 4rem;
  background: url(../assets/wavesOpacity.svg);

  .hero {
    grid-area: 2/2/6/3;
    justify-self: flex-end;
    img {
      max-height: 70vh;
    }
  }

  .about {
    justify-self: center;
    margin-top: 30px;
    grid-area: 3/3/4/4;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    padding: 0.4rem;
    max-width: 40vw;
    box-shadow: $shadow;
    .svgs {
      grid-area: 3/3/4/4;
      display: flex;
      justify-content: flex-end;
    }
    h2 {
      grid-area: 1/1/2/-1;
      padding: 0.4rem;
      font-size: 1.4rem;
    }
    p {
      grid-area: 2/1/3/-1;
      padding-block-end: 0.4rem;
      font-size: 1.3rem;
    }
    img {
      grid-area: 3/3/4/-1;
      width: 30px;
      height: 30px;
      transition: rotate 400ms ease-in-out, scale 200ms linear;
      justify-self: right;
      margin-inline-end: 0.6rem;
    }
    img:hover {
      rotate: 360deg;
      scale: 1.2;
    }
    a {
      text-decoration: none;
      font-weight: 700;
    }
  }
  h1 {
    grid-area: 5/2/6/3;
  }
} //end of description
// beginning of main

main {
  display: grid;
  width: 90vw;
  margin: 0 auto;
  margin-block-end: 3rem;
  gap: 20px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  .card {
    box-shadow: 0 0 6px 5px grey;
  }
  .card > img {
    max-width: 100%;
    min-height: 76%;
  }
  .card_imgs > img {
    width: 30px;
    height: 30px;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 0.3rem;
  }
  p {
    margin-inline: 0.3rem;
    padding-block-end: 1rem;
  }
} //end of main
//style of h2 which is not in a container
h2.work {
  width: 90vw;
  margin: 0 auto;
  padding-block: 1rem;
}
//footer
footer {
  background-color: rgb(214, 89, 120);
  .footer_container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    padding-block: 2rem;
    margin: 0 auto;
    .footer_content {
      h3,
      p {
        padding-block: 0.5rem;
        font-family: $font-title;
        & > img {
          width: 20px;
          height: 20px;
        }
      }
      & > p:nth-child(4)::before {
        content: url(../assets/phone.svg);
        display: block;
        width: 20px;
        height: 20px;
      }
      & > p:nth-child(5)::before {
        content: url(../assets/email.svg);
        display: block;
        width: 20px;
        height: 20px;
      }
      .svgs {
        display: flex;
        flex-direction: row;
        width: 30px;
        height: 30px;
        gap: 0.4rem;
      }
    }
  }
  img {
    max-height: 60vh;
  }
  button {
    display: block;
    text-decoration: none;
    width: 80px;
    padding: 0 1.3rem;
    border-radius: 10px;
    margin-block: 1rem;
    border: none;
    a {
      text-decoration: none;
      font-weight: 900;
    }
  }
}
//media queries
@media (max-width: 900px) {
  .hero img {
    gap: 1rem;
  }
  .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hero {
      margin-top: 1rem;
    }
  }
  main {
    justify-content: center;
  }
  footer .footer_container {
    display: flex;
    flex-direction: column;
  }
  main > .card {
    display: grid;
    gap: 10px;
  }
}
